.navigation-container {
  min-width: 400px;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
}

.navigation-links__link {
  font-size: 1.5rem;
  color: var(--main-color);
}

.navigation-links__link--active {
  color: var(--button-info-color);
  border-bottom: 3px solid var(--button-info-color);
}
