.bike {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 15px 0px;
  padding: 10px;
  min-height: 295px;
  min-width: 350px;
  max-width: 600px;
}

.bike__container {
  padding: 10px 0;
  display: flex;
  gap: 8px;
}

.bike__information {
  display: flex;
  gap: 10px;
  align-self: flex-start;
}

.bike__brand,
.bike__mode,
.bike__model {
  font-size: 1rem;
}

.bike__image {
  width: 100%;
  height: auto;
  max-height: 400px;
  max-width: 400px;
  min-height: 200px;
  min-width: 200px;
  align-self: center;
}
